<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="F:/Lecture-17-Zharova/Lecture17-Zharova/Lec17/src/main/java/tests">
        <classes>
            <class name="tests.CheckCartPage"><methods>
            <include name="checkAddItemToCard"/>
                <include name="checkRemoveItemFromCart"/>
            </methods>
            </class>
            <class name="tests.CheckLoginPopup">
                <methods>
                <include name="positiveCheckLoginPopup"/>
                    <include name="checkEmptyFieldsInLoginPopup"/>
                    <include name="negativeCheckLoginPopup"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>